/* Cards Pokemons */

.nombre{
    text-align: center;
    justify-items: center;
    color: #3b4cca;

    &:hover {
        color: #f8d030;
        font-weight: bold;
    }
}

.atributo{
    &:hover{
        font-weight: bold;
    }
}
